# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/

# Django stuff
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/
.env

# IDE / Editor settings
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Node / Frontend (se usi npm o yarn)
node_modules/
dist/

