# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff
*.log
*.pot
*.pyc
db.sqlite3
media/
.env

# VSCode/PyCharm
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db
